/* ~ || ----- GLOBAL ------ || ~ */

:root {
  --primary-colour: grey;
  --secondary-colour: rgb(231, 225, 62);
  --text-colour: black;
  --addItem-colour: rgb(44 218 90);
}

body {
  margin: 1.5em;
}

body * {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

/* ~ || ----- STACK ------ || ~ */

.stack > * + * {
  margin-top: 2.5rem;
}

.stack-sm > * + * {
  margin-top: 0.4rem;
}

/* ~ || ----- FLEX ------ || ~ */

.flex {
  display: flex;
  gap: 1em;
}

.column {
  flex-direction: column;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

/* ~ || ----- CENTER ------ || ~ */

.center {
  max-width: 21rem;
  margin-inline: auto;
}

.center-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ~ || ----- DRAG ------ || ~ */

.waiting {
  color: red;
}

.dropzone.dragover {
  scale: 1.5;
}

.dragging {
  opacity: 0.5;
}

/* ~ || ----- REUSE ------ || ~ */

.button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: x-large;
}

.small-font {
  font-size: x-small;
}

.scale:hover {
  scale: 1.4;
}

.color-change:hover {
  color: blue;
}

/* ~ || ----- SPECIFIC ------ || ~ */

/* * || ----- HEADER ------ || ~ */

.arrow {
  position: fixed;
  top: 1rem;
}

.right {
  right: 1rem;
}

.left {
  left: 1rem;
}

.header-container {
  padding-inline-start: 1rem;
  padding-block: 3rem;
}

.header-container > * {
  margin: 0em;
}

/* * || ----- TODO / MAIN ------ || ~ */

#filter {
  margin-bottom: 0.1em;
  text-decoration: underline;
}

article.empty * {
  color: var(--primary-colour);
}

.empty > * {
  text-align: center;
}

.category {
  height: 1.5rem;
  width: 1.5rem;
  margin-block: auto;
}

.margin-block {
  max-height: 20rem;
  margin-block: auto;
}

.todo-container {
  margin: 0.5em;
  padding: 0%;
}

.todo-container > div #textContent {
  margin-right: auto;
}

.addItem {
  position: fixed;
  bottom: 0rem;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  background-color: var(--secondary-colour);
  width: 2.5rem;
  height: 2.5rem;
  /* ! mystery */
  padding-bottom: 0.2rem;
}

.addItem:hover {
  background-color: var(--addItem-colour);
}

.completed {
  font-style: italic;
  text-decoration: line-through;
}

/* * || ----- FORM ------ || ~ */

#todo-form {
  position: absolute;
  z-index: 10;
  max-width: 30rem;
  padding: 2rem;
}

/* #todo-form > input[type="text"]:focus { */

/* } */

#todo-form > input[type="text"] {
  border: none;
  border-bottom: 2px solid black;
  padding: 0.5em;
}

/* * || ----- CALENDAR / EXTRA ------ || ~ */

.week {
  padding: 0;
}

#weekdays li {
  list-style: none;
  background-color: transparent;
}
